<footer class="footer flex items-center container">

  <div class="flex justify-between items-center col-md-12">
    <p> &copy; 2024 Albumist</p>
    <div>
      <%= link_to "https://www.linkedin.com/in/sametpolat17/",
      target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "linkedin.svg", alt: "LinkedIn",
        class: "footer__item" %>
      <% end %>
      <%= link_to "https://github.com/sametpolat7",
      target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "github.svg", alt: "GitHub",
        class: "footer__item" %>
      <% end %>
    </div>
  </div>
  
</footer>