<nav class="navbar container flex items-center">
  <div class="flex justify-between items-center col-md-12">
    <div class="brand">
      <%# <%= image_tag("albumist_logo.png",  alt: "Brand Logo", class: "brand__logo") %> 
      <p class="brand__title">
        Albumist
      </p>
    </div>
    <div>
      <% if User.exists? %>
        <%= link_to "Create User", new_user_path, class: "navbar__button" %>        
      <% end %>
    </div>
  </div>
</nav>