<nav class="navbar container flex items-center">
  <div class="flex justify-between items-center col-md-12">
    <div class="brand flex items-center">
      <%= image_tag("albumist_logo.png",  alt: "Brand Logo", class: "brand__logo") %> 
      <p class="brand__title">
        <%= link_to "Albumist", root_path %>
      </p>
    </div>
    <div>
      <%= link_to "Create User", new_user_path, class: "btn" %>
    </div>
  </div>
</nav>