@import "mixins/media_queries";

.container {
  width: 100%;
  padding: 0 1rem;

  @include to_tablet {
    padding: 0 5rem;
  }

  @include to_desktop {
    padding: 0 9rem;
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.border {
  border: 1px solid red;
}