@import "mixins/media_queries";

.container {
  width: 100%;
  padding: 0 1rem;

  @include to_tablet {
    padding: 0 5rem;
  }

  @include to_desktop {
    padding: 0 9rem;
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.min-h-dvh {
  min-height: 100dvh;
}

.ml-05 {
  margin-left: .5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.border {
  border: 1px solid red;
}