$color1: #ffff99;
$color2: #008080;
$color3: #e32636;
$color4: #7fff7f;
$color5: #ffd700;
$color6: #7F3FBF;
$color7: #ececec;
$color8: #ffa63f;
$color9: #2b89d0;
$color10: #50c878;
$color11: #f1f3f4;
$color12: #999999;
$color13: #172554;