@import "mixins/media_queries";

.alert {
  position: relative;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 16px;
 }

.alert-success, .alert-notice {
  color: #4bb543;
  border: 2px solid #4bb543
}

.alert-alert {
  color: #bb2124;
  border: 2px solid #bb2124
}

.close-button {
  position: absolute;
  top: -14px;
  right: -14px;
}