@import "mixins/media_queries";

.footer {
  margin-top: 6rem;
  height: 3.5rem;
  font-size: .7rem;
  font-weight: 600;
  background-color: #f1f3f473;

  @include to_tablet {
    font-size: .85rem;
    height: 4rem;
  }

  @include to_desktop {
    font-size: 1rem;
    height: 4.5rem;
  }

    .footer__item {
      width: 20px;
      height: 20px;
      margin-left: .5rem;

      @include to_tablet {
        width: 24px;
        height: 24px;
      }
    
      @include to_desktop {
        width: 28px;
        height: 28px;
      }
    }
}