@import "mixins/media_queries";

.navbar {
  height: 3.5rem;
  background-color: #fafafa;
  margin-bottom: 1rem;

  @include to_tablet {
    height: 4rem;
    margin-bottom: 2rem;
  }

  @include to_desktop {
    height: 4.5rem;
    margin-bottom: 3rem;
  }

  .brand {
    .brand__logo {
      width: 36px;
      height: 28px;

      @include to_tablet {
        width: 48px;
        height: 40px;
      }
  
      @include to_desktop {
        width: 64px;
        height: 54px;
      }
    }

    .brand__title {
      font-size: 1.5rem;
      font-weight: 600;
      background: linear-gradient(to right, #2b89d0, #7F3FBF, #e32636);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      transition: all .2s ease;

      @include to_tablet {
        font-size: 2rem;
      }
    
      @include to_desktop {
        font-size: 2.5rem;

        &:hover {
          background: linear-gradient(to right, #2b89d0, #2b89d0);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent; 
        }
      }
    }
  }
}