@import "mixins/media_queries";

.users {

  .users__results {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #696969;

    @include to_tablet {
      font-size: 1.75rem;
    }
  
    @include to_desktop {
      font-size: 2.5rem;
    }
  }

  .users__list {
    height: 6rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 8px;

    @include to_tablet {
      height: 7rem;
      margin-bottom: 2.5rem;
    }
  
    @include to_desktop {
      height: 8rem;
      margin-bottom: 3rem;

        &:hover {
          border: 1px solid #172554;
        }
    }

    a {

      .users__list__item {
        font-size: 10px;
        font-weight: 600;
        margin: 0 1rem;

        @include to_tablet {
          font-size: 12px;
          margin: 0 2rem;
        }
      
        @include to_desktop {
          font-size: 14px;
          margin: 0 3rem;
        }

        img {
          border-radius: 50%;
          margin-right: 1rem;
        }

        .content__name {
          font-size: 14px;

          @include to_tablet {
            font-size: 16px;
          }
        
          @include to_desktop {
            font-size: 20px;
          }
        }
      }
    }
  }
}