@import "mixins/media_queries";

.navbar__button {
  padding: .25rem .5rem;
  background: linear-gradient(to right, #50c878, #2b89d0,);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;

  @include to_tablet {
    padding: .5rem 1rem;
  }

  @include to_desktop {
    padding: .5rem 2rem;
  }
}