@import "mixins/media_queries";

.btn {
  outline: 0;
  border: none;
  padding: .35rem .75rem;
  border-radius: 36px;
  background-color: #172554;
  color: white;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.2s ease;

  @include to_tablet {
    font-size: 14px;
    padding: .5rem 1rem;
  }
  
  @include to_desktop {
    font-size: 16px;
    padding: .5rem 2rem;

    &:hover{
      background: rgba(0,118,255,0.9);
    }
  }
}

.btn-dng {
  outline: 0;
  border: none;
  padding: .35rem .75rem;
  border-radius: 36px;
  background-color: #e32636;
  color: white;
  font-weight: 400;
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;

  @include to_tablet {
    padding: .5rem 1rem;
  }
  
  @include to_desktop {
    padding: .5rem 2rem;

    &:hover{
      background: #e32636d8;
    }
  }
}